@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>URLS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            height: 40px;
            color: #fff;
            padding: 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            header a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 18.5px;
                margin: 0 10px;
            }

                header a:hover {
                    color: #f5a742;
                }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 210px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
            right: 0;
            border-radius: 5px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }
    </style>
</head>
<body>
    <header>
        <span style="font-weight: bold; font-size: 20px; margin-left: 10px;">InforceTestTask</span>
        <a href="@Url.Action("Index","URL")">Таблиця URLs</a>
        <div class="dropdown">
            <a>Авторизуватись</a>
            <div class="dropdown-content" id="dropdownMenu">
                <a href="/Authentication/Login">Увійти</a>
                <a href="/Authentication/Register">Зареєструватись</a>
            </div>
        </div>
    </header>
</body>
</html>