@model InforceTestTask.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Про алгоритм скорочення</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            margin: 20px;
        }
        .about-container {
            text-align: center;
            margin 10px;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Алгоритм скорочення URL</h1>
    <div class="about-container">
        <p>
            <br />Алгоритм працює таким чином: задана url розділяється на підрядки за сеператором '/'. Якщо такого символу нема, повертається вихідна url. 
            <br />Далі всі підрядки, крім останнього, ми розділяємо на менші підрядки за сепаратором '&'. Таким чином ми отримуємо параметри нашої url.
            <br />У параметрах ми змінюємо лише частину рядка до символу '='. Для цього знову розділяємо підрядок (параметр) за сепаратором '=',
            <br />і з отриманих двох підрядків (параметра і значення) беремо лише параметр і видаляємо з нього всі голосні літери.
            <br />Складаємо результуючі рядки та сепаратори в один рядок та отримуємо скорочену url.
        </p>
    </div>
</body>
</html>
