@model Tuple<List<Url>, InforceTestTask.Models.User>
@{
    var errorMessage = ViewBag.ErrorMessage as string;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <body>
    @if(Model.Item2 == null)
    {
        @Html.Partial("~/Views/URL/Topbar.cshtml");
    }else
    {
        @Html.Partial("~/Views/URL/TopbarAuthorized.cshtml", Model.Item2);
    }

    @Html.Partial("~/Views/URL/UrlPartial.cshtml", Model);
    </body>
</html>