@model List<Url>
@{
    var user = (InforceTestTask.Models.User)ViewBag.User; 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <body>
    @if(user == null)
    {
        @Html.Partial("~/Views/URL/Topbar.cshtml", Model);
    }else
    {
        @Html.Partial("~/Views/URL/TopbarAuthorized.cshtml", user);
    }
        @Html.Partial("~/Views/URL/UrlPartial.cshtml", Model);
    </body>
</html>