@model Tuple<UrlViewModel,InforceTestTask.Models.User>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <body>
    @Html.Partial("~/Views/URL/TopbarAuthorized.cshtml",Model.Item2);
    @Html.Partial("~/Views/URL/URLInfoPartial.cshtml", Model.Item1);
    </body>
</html>